.App {
  text-align: center;
  max-width: 1200px;
  margin: 10px auto;
  padding: 75px;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.navItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navItem {
  margin: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.artworksContainer {
  margin: 3%;
}

.image {
  object-fit: cover;
}

.image:hover {
  opacity: 70%;
}

.imageContainer, .image {
  height: 300px;
  overflow: hidden;
  width: 300px;
}
